/target
!target/classes/java/*
/bench/target
/classes
/checkouts
pom.xml.asc
replikativ-datahike.jar
/.lein-*
/.nrepl-port
/.repl*
web/out
web/*.js
release-js/datahike*.js
release-js/npm-*
web/target-cljs
.idea
*.iml
.vscode
.#*
/.gitold/COMMIT_EDITMSG
.cpcache
lsp/
.calva/
out/
.lsp
/.cache
/.settings
.classpath
.cache
/datahike
tests.user.edn
/libdatahike/target
libdatahike.zip
dhi
dhi.build_artifacts.txt
trace.edn
tmp.edn
