/target
/bench/target
/classes
/checkouts
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.repl*
web/out
web/*.js
release-js/datahike*.js
release-js/npm-*
web/target-cljs
release.clj
.idea
*.iml
.vscode
.#*
/.gitold/COMMIT_EDITMSG
.cpcache
lsp/
.calva/
out/
.lsp
/.cache
/.settings
.classpath
/.clj-kondo
