/target
/bench/target
/libdatahike/target
/target-http-server
/classes
/checkouts
pom.xml.asc
replikativ-datahike.jar
*.class
/.lein-*
/.nrepl-port
/.repl*
web/out
web/*.js
release-js/datahike*.js
release-js/npm-*
web/target-cljs
.idea
*.iml
.vscode
.#*
/.gitold/COMMIT_EDITMSG
.cpcache
lsp/
.calva/
out/
.lsp
/.cache
/.settings
.classpath
.cache
/datahike
tests.user.edn
libdatahike.zip
dthk
libdatahike*.zip
trace.edn
tmp.edn
.shadow-cljs
.claude
repl-mcp.log
