#kaocha/v1
        #meta-merge [{:tests    [{:id          :clj
                                  :ns-patterns ["datahike.test."]}
                                 #_{:id          :cljs
                                    :type        :kaocha.type/cljs
                                    :ns-patterns ["datahike.test."]}
                                 {:id          :quick
                                  :ns-patterns ["datahike.test."]
                                  :bindings    {datahike.test.config/*user-filter-map* [{:index              :datahike.index/persistent-set
                                                                                         :backend            :mem
                                                                                         :schema-flexibility :read
                                                                                         }]}}
                                 {:id         :integration
                                  :test-paths ["test/datahike/integration_test"]}]
                      :reporter kaocha.report/documentation}
                     #include "tests.user.edn"]
