version: 2.1

setup: true

orbs:
  tools: replikativ/clj-tools@0
  continuation: circleci/continuation@2.0
  browser-tools: circleci/browser-tools@1.4

jobs:
  setup:
    executor: tools/clojurecli
    parameters:
      setup_cljs:
        type: boolean
        default: true
    steps:
      - restore_cache:
          keys:
            - source-{{ .Branch }}-{{ .Revision }}
            - source-{{ .Branch }}
            - source-
      - checkout
      - save_cache:
          key: source-{{ .Branch }}-{{ .Revision }}
          paths:
            - .git
      - restore_cache:
          keys:
            - deps-{{ checksum "deps.edn" }}
            - deps-
      - run:
          name: resolve deps
          command: clojure -A:dev:test:build -P
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
      - when:
          condition: <<parameters.setup_cljs>>
          steps:
            - restore_cache:
                keys:
                  - npm-{{ checksum "package-lock.json" }}
                  - npm-
            - run: npm ci
            - save_cache:
                key: npm-{{ checksum "package-lock.json" }}
                paths:
                  - /home/circleci/.npm
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - .m2
            - .npm
            - replikativ
  format:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Check format
          command: bb format
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  native-image:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Generate config
          command: |
            bb --version
            bb .circleci/scripts/gen_ci.clj > generated_config.yml
      - continuation/continue:
          configuration_path: generated_config.yml
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  persistent-set-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Run unittests for persistent sorted set index
          command: bb test clj-pss
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  hitchhiker-tree-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Run unittests for hitchhiker-tree index
          command: bb test clj-hht
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  spec-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Run unittests for hitchhiker-tree index
          command: bb test specs
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  backward-compatibility-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Retrieve ssh-fingerprints
          command: mkdir ~/.ssh && ssh-keyscan github.com >> ~/.ssh/known_hosts
          no_output_timeout: 1m
      - run:
          name: Run backward compatibility test
          command: bb test back-compat
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  integration-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Run integration test
          command: bb test integration
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  kabel-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Run kabel tests
          command: bb test kabel
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  browser-test:
    docker:
      - image: tools/clojurecli
    working_directory: /home/circleci/replikativ
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Prepare dependencies
          command: clojure -X:deps prep
      - run:
          name: Start test server
          command: clojure -M:test -e "(require 'datahike.kabel.browser-test-server) (datahike.kabel.browser-test-server/start-test-server!) (Thread/sleep Long/MAX_VALUE)"
          background: true
      - run:
          name: Wait for server startup
          command: sleep 20
      - run:
          name: Compile ClojureScript for browser tests
          command: npx shadow-cljs compile :browser-ci
          no_output_timeout: 5m
      - run:
          name: Run Karma browser tests
          command: npx karma start --single-run
          no_output_timeout: 5m
  node-cljs-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Run CLJS node tests
          command: bb node-cljs-test
          no_output_timeout: 5m
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  npm-test:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Build npm package
          command: bb npm-build
          no_output_timeout: 5m
      - run:
          name: Run npm JS tests
          command: bb npm-test
      - save_cache:
          key: deps-{{ checksum "deps.edn" }}
          paths:
            - /home/circleci/.m2
            - /home/circleci/.deps.clj
  build:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Build jar
          command: bb jar
      - persist_to_workspace:
          root: /home/circleci/
          paths:
            - .m2
            - .npm
            - replikativ
  deploy:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Deploy to clojars
          command: bb clojars
  release-jar:
    executor: tools/clojurecli
    steps:
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Release jar on GitHub
          command: bb release jar
  release-pod:
    executor: tools/clojurecli
    steps:
      - add_ssh_keys:
          fingerprints:
            - "SHA256:+nqfgSWriNWtzcE6xLJTUzdfH3lLnWWscrJ5RLPHRLc"
      - attach_workspace:
          at: /home/circleci
      - run:
          name: Release pod on pod registry
          command: |
            echo $CIRCLE_PROJECT_USERNAME
            if [[ $CIRCLE_PROJECT_USERNAME == "replikativ" ]]; then
              bb release pod
            fi

workflows:
  build-test-and-deploy:
    jobs:
      - setup:
          context: dockerhub-deploy
          setup_cljs: true
      - build:
          context: dockerhub-deploy
          requires:
            - setup
      - native-image:
          context:
            - dockerhub-deploy
            - github-token
          filters:
            branches:
              only: main
          requires:
            - setup
      - format:
          context: dockerhub-deploy
          requires:
            - setup
      - persistent-set-test:
          context: dockerhub-deploy
          requires:
            - build
      - hitchhiker-tree-test:
          context: dockerhub-deploy
          requires:
            - build
      - backward-compatibility-test:
          context: dockerhub-deploy
          requires:
            - build
      - integration-test:
          context: dockerhub-deploy
          requires:
            - build
      - kabel-test:
          context: dockerhub-deploy
          requires:
            - build
      - browser-test:
          context: dockerhub-deploy
          requires:
            - build
      - node-cljs-test:
          context: dockerhub-deploy
          requires:
            - build
      - npm-test:
          context: dockerhub-deploy
          requires:
            - build
      - deploy:
          context:
            - dockerhub-deploy
            - clojars-deploy
            - github-token
          filters:
            branches:
              only: main
          requires:
            - format
            - persistent-set-test
            - hitchhiker-tree-test
            - backward-compatibility-test
            - integration-test
            - kabel-test
            - browser-test
            - node-cljs-test
            - npm-test
      - release-jar:
          context:
            - dockerhub-deploy
            - github-token
          filters:
            branches:
              only: main
          requires:
            - format
            - persistent-set-test
            - hitchhiker-tree-test
            - backward-compatibility-test
            - integration-test
            - kabel-test
            - browser-test
            - node-cljs-test
            - npm-test
      - release-pod:
          context:
            - dockerhub-deploy
            - github-pod-registry-token
          filters:
            branches:
              only: main
          requires:
            - format
            - persistent-set-test
            - hitchhiker-tree-test
            - backward-compatibility-test
            - integration-test
            - kabel-test
            - browser-test
            - node-cljs-test
            - npm-test
