{:paths ["src" "resources"]
 :deps {org.babashka/spec.alpha {:git/url "https://github.com/babashka/spec.alpha"
                                 :git/sha "b6eb0f2208ab036c0a5d0e7235cb0b09d2feabb7"}
        ;; https://github.com/babashka/tools.bbuild
        io.github.babashka/tools.bbuild {:git/sha "4493ba83664bdbfcaf932845fbd2f2183cdb7c1d"}
        ;; https://github.com/borkdude/gh-release-artifact
        io.github.borkdude/gh-release-artifact {:git/sha "4a9a74f0e50e897c45df8cc70684360eb30fce80"}
        selmer/selmer {:mvn/version "1.13.5"}
        cheshire/cheshire {:mvn/version "6.2.0"}}}
