{:paths ["src"]
 :deps  {org.clojure/clojure         {:mvn/version "1.10.3"}
         io.replikativ/datahike      {:mvn/version "0.4.0"}
         io.replikativ/datahike-jdbc {:mvn/version "0.1.2-SNAPSHOT"}}}
