{:tx-data [{:db/doc         "baz"
            :db/ident       :baz
            :db/valueType   :db.type/keyword
            :db/cardinality :db.cardinality/one}]
 :tx-fn datahike.norm.norm-test/baz-test-fn-2}
